:root {
    --white-font: white;
    --spinner: #344753;
    --spinner-bg: #f3f3f3;
    --statbar: #344753;
    --header: linear-gradient(155deg, #6960b1, #1b3d88);
    --fire: linear-gradient(155deg, #fe8c90, #c43237);
    --bug: linear-gradient(155deg, #5cdab6, #209272);
    --electric: linear-gradient(155deg, #f3c246, #b48307);
    --water: linear-gradient(155deg, #a2cfff, #5298e2);
    --ground: linear-gradient(155deg, #cbc5bf, #817970);
    --rock: linear-gradient(155deg, #afb7bc, #6d6f70);
    --steel: linear-gradient(155deg, #c7d0d7, #8c959d);
    --fairy: linear-gradient(155deg, #edbde4, #dd87cb);
    --poison: linear-gradient(155deg, #b18bc0, #843b9e);
    --grass: linear-gradient(155deg, #aac3ab, #449547);
    --dragon: linear-gradient(155deg, #dcc0a2, #ffa44f);
    --psychic: linear-gradient(155deg, #f497e0, #d455b8);
    --flying: linear-gradient(155deg, #abdfff, #47b3f7);
    --fighting: linear-gradient(155deg, #e8a68a, #e34e0f);
    --ghost: linear-gradient(155deg, #777a98, #213143);
    --ice: linear-gradient(155deg, #c4d6eb, #9db8d7);
    --dark: linear-gradient(155deg, #7b7ba3, #2b1e50);
    --normal: linear-gradient(155deg, #c1ad94, #736655);
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
    color: var(--white-font);
}

body {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
}


header {
    width: 100%;
    height: 240px;
    margin-bottom: 32px;
    background: var(--header);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    filter: drop-shadow(-1px -4px 9px black);
}

h1 {
    font-family: 'Poke Hollow', sans-serif;
    font-size: 80px;
    color: #ffce1fff;
}

.search-bar{
    position: absolute;
    bottom: 32px;
    width: 240px;
    height: 32px;
    color: black;
}

main {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1350px;
    width: -webkit-fill-available;
}

.d-none {
    display: none !important;
}

.poke-tile {
    position: relative;
    height: 140px;
    width: 240px;
    padding: 20px 0px 20px 20px;
    border-radius: 16px;
    margin-bottom: 8px;
    transition: all 125ms ease-in-out;
    cursor: pointer;
    overflow: hidden;
}

.poke-tile:hover {
    filter: drop-shadow(15px 15px 13px rgba(0, 0, 0, 0.5));
    outline: 0.05px solid rgba(255, 255, 255, 0.1);
}

.poke-sprite {
    position: absolute;
    right: 0px;
    bottom: 10px;
    height: 120px;
    z-index: 1;
}

.poke-info {
    width: auto;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.poke-info div,
#card-type div {
    width: 40px;
    padding: 8px 24px;
    border-radius: 16px;
    background-color: rgba(255, 255, 255, 0.1);
}

.poke-info p,
.card-info p {
    position: absolute;
    top: 20px;
    right: 20px;
    color: rgba(255, 255, 255, 0.25);
    font-size: 18px;
    font-weight: 700;
}

.tile-type {
    display: flex;
    justify-content: center;
}

.tile-pokeball {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 120px;
    transform: rotate(-25deg);
    z-index: 0;
}

.loader {
    display: flex;
    align-items: center;
    position: fixed;
    border: 16px solid var(--spinner-bg);
    border-top: 16px solid var(--spinner);
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 1s linear infinite;
}

.blur-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 8px;
    z-index: 100;
    backdrop-filter: blur(4px);
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#card {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 2000;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 16px;
}

#card-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.card-top {
    position: relative;
    background: var(--dark);
    z-index: 1000;
    width: 100%;
    max-width: 300px;
    height: 320px;
    border-radius: 16px 16px 0px 0px;
}

.card-info {
    padding: 16px 24px;
}

#card-type {
    display: flex;
    gap: 12px;
    margin-block-start: 16px;
}


.card-pokeball {
    position: absolute;
    bottom: 32px;
    right: 16px;
    height: 128px;
    transform: rotate(-25deg);
}

.card-sprite {
    position: absolute;
    display: flex;
    justify-content: center;
    top: 20%;
    height: 200px;
    z-index: 2000;
}

.card-bottom {
    position: relative;
    padding: 0px 16px;
    background: var(--white-font);
    z-index: 1000;
    height: 340px;
    width: 268px;
    border-radius: 16px;
    margin-top: -16px;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.card-bottom span {
    color: rgba(0, 0, 0, 0.8);
}


.nav-card {
    margin-block-start: 24px;
    display: flex;
    justify-content: space-around;
}

.nav-card a {
    color: #53556059;
    cursor: pointer;
    transition: all 75ms ease-in-out;
    border-bottom: 1px solid transparent;
}

.nav-card a:hover {
    color: rgba(0, 0, 0, 0.8);
}


.nav-active {
    color: rgba(0, 0, 0, 0.8) !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.8) !important;

}

#card-content {
    height: 80%;
}

td,
td b {
    color: rgba(0, 0, 0, 0.8);
    padding: 4px 0px;
}


td:first-child {
    display: block;
    padding-right: 24px;
}

table {
    padding: 24px 0px 0px;
    font-size: 14px;
}

#moves-container {
    flex-wrap: wrap;
    display: flex;
    justify-content: flex-start;
    gap: 8px;
    margin-top: 24px;
}

.move-div {
    padding: 4px 8px;
    background-color: rgba(0, 0, 0, 0.1);
    font-size: small;
    border-radius: 16px;
    color: rgba(0, 0, 0, 0.6);
    box-shadow: 5px 5px 7px -5px rgba(0, 0, 0, 0.5);
}

.myprogress {
    margin-left: 12px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 6px;
}

.mybar {
    width: 1px;
    height: 12px;
    border-radius: 6px;
    transition: all 0.75s ease-in-out;
}

.stat-width {
    width: 40%;
}

#evocontent {
    padding: 24px 0px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    justify-content: center;
    height: 80%;
}

#evocontent div {
    position: relative;
    border-radius: 24px;
    height: 48px;
    display: flex;
    align-items: center;
}

#evocontent img {
    position: absolute;
    height: 80px;
}

#evocontent h3 {
    position: absolute;
    right: 16px;
    color: rgba(255, 255, 255, 0.25);
}

#evocontent h4 {
    position: absolute;
    left: 35%;
    color: var(--white-font);
}

.show-nav {
    position: absolute;
    display: flex;
    justify-content: space-around;
    width: 90%;
    bottom: 0;
}

.show-nav img {
    height: 40px;
    cursor: pointer;
}

footer div {
    margin: 24px;
    display: flex;
    justify-content: center;
    background: var(--header);
    border-radius: 20px;
    align-items: center;
    height: 40px;
    width: 200px;
    cursor: pointer;
    transition: all 125ms ease-in-out;
}

footer div:hover {
    box-shadow: 0px 0px 8px 3px rgba(0, 0, 0, 0.5);}