:root {
    --white-font: white;
    --header: linear-gradient(155deg, #6960b1, #11009E);
    --fire: linear-gradient(155deg, #fe8c90, #c43237);
    --bug: linear-gradient(155deg, #5cdab6, #209272);
    --electric: linear-gradient(155deg, #f3c246, #b48307);
    --water: linear-gradient(155deg, #a2cfff, #5298e2);
    --ground: linear-gradient(155deg, #cbc5bf, #817970);
    --rock: linear-gradient(155deg, #afb7bc, #6d6f70);
    --steel: linear-gradient(155deg, #c7d0d7, #8c959d);
    --fairy: linear-gradient(155deg, #edbde4, #dd87cb);
    --poison: linear-gradient(155deg, #b18bc0, #843b9e);
    --grass: linear-gradient(155deg, #aac3ab, #449547);
    --dragon: linear-gradient(155deg, #dcc0a2, #ffa44f);
    --psychic: linear-gradient(155deg, #f497e0, #d455b8);
    --flying: linear-gradient(155deg, #abdfff, #47b3f7);
    --fighting: linear-gradient(155deg, #e8a68a, #e34e0f);
    --ghost: linear-gradient(155deg, #777a98, #213143);
    --ice: linear-gradient(155deg, #c4d6eb, #9db8d7);
    --dark: linear-gradient(155deg, #7b7ba3, #2b1e50);
    --normal: linear-gradient(155deg, #c1ad94, #736655);
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
    color: var(--white-font);
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
}


header {
    width: 100%;
    height: 240px;
    margin-bottom: 32px;
    background: var(--header);
    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(-1px -4px 9px black);
}

h1 {
    font-family: 'Poke Hollow', sans-serif;
    font-size: 80px;
}

main {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1250px;
}

.d-none{
    display: none!important;
}

.poke-tile {
    position: relative;
    height: 140px;
    width: 220px;
    padding: 20px 0px 20px 20px;
    border-radius: 16px;
    margin-bottom: 8px;
    transition: all 125ms ease-in-out;
    cursor: pointer;
}

.poke-tile:hover {
    filter: drop-shadow(15px 15px 13px rgba(0, 0, 0, 0.5));
    outline: 0.05px solid rgba(255, 255, 255, 0.1);
}

.poke-sprite {
    position: absolute;
    right: 0px;
    bottom: 10px;
    height: 120px;
}

.poke-info {
    width: auto;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.poke-info div {
    width: 40px;
    padding: 8px 24px;
    border-radius: 16px;
    background-color: rgba(255, 255, 255, 0.1);
}

.tile-type {
    display: flex;
    justify-content: center;
}

.loader {
    display: flex;
    align-items: center;
    position: fixed;
    border: 16px solid #f3f3f3;
    /* Light grey */
    border-top: 16px solid #344753;
    /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

.loader-bg {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 8px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}